.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.cart-counter {
  margin: 20px auto;
  padding: 10px;
  display: inline-flex;
  align-items: center;
}

.cart-counter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-counter button:hover {
  background-color: #0056b3;
}

.cart-counter input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60px;
  -moz-appearance: textfield;
}

.cart-counter input::-webkit-outer-spin-button,
.cart-counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* Hide number input spinner in Chrome, Safari, Edge, and Opera */
  margin: 0;
}